{{ ansible_managed | comment }}

# allow local dns queries
pass log on {{ host_net_int_if }} proto udp \
  from { {{ jail_net_ip }}, 127.0.0.1 } \
  to { {{ jail_net_ip }}, 127.0.0.1 } port 53 \
  keep state

# send off mail via ssmtp_mailhub
pass out log on {{ host_net_int_if }} proto tcp \
  from {{ jail_net_ip }} \
  to {{ ssmtp_mailhub }} port {{ ssmtp_mailhub_port }} \
  flags S/SA modulate state

 # allow syslog messages within jail
pass log on {{ host_net_int_if }} proto udp \
  from {{ jail_net_ip }} \
  to {{ jail_net_ip }} port syslog

